<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Russo+One&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/main.css" />
        <title>Пам'ятники GranitForever</title>
    </head>
    <body>
        <header>
            <img class="logo" src="/images/logo_header.png" alt="GranitForever 2021">
            <nav>
                <a class="active" href="">Головна</a>
                <a href="">Каталог</a>
                <a href="">Контакти</a>
                <a href="">Інформація</a>
            </nav>

            <div class="navbar-adaptive">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="modal-nav" id="modalNav">
                <a href="" class="close-btn"> X </a>
                <div class="modal-content">
                    <a href="">Головна</a>
                    <a href="">Каталог</a>
                    <a href="">Контакти</a>
                    <a href="">Інформація</a>
                </div>
                <div class="contact_info">
                    <p>+38(067)-591-70-30</p>
                    <p>+38(063)-467-16-18</p>
                    <div class="socials">
                        <img src="/images/socials/whatsup_bl.png" alt="">
                        <img src="/images/socials/inst_bl.png" alt="">
                        <img src="/images/socials/face_bl.png" alt="">
                        <img src="/images/socials/tel_bl.png" alt="">
                        <img src="/images/socials/vib_bl.png" alt="">
                    </div>
                </div>
            </div>

            <div class="contact_info">
                <p>+38(067)-591-70-30</p>
                <p>+38(063)-467-16-18</p>
                <div class="socials">
                    <img src="/images/socials/whatsup_bl.png" alt="">
                    <img src="/images/socials/inst_bl.png" alt="">
                    <img src="/images/socials/face_bl.png" alt="">
                    <img src="/images/socials/tel_bl.png" alt="">
                    <img src="/images/socials/vib_bl.png" alt="">
                </div>
            </div>
        </header>
        <!--  -->
        <!--  -->
        
        <main>
