<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Russo+One&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/animation.css" />
        <link rel="stylesheet" href="/css/card.css" />
        <link rel="stylesheet" href="/css/catalog.css" />
        <title>Пам'ятники GranitForever</title>
    </head>
    <body>
        <header>
            <a href="/"><img class="logo" src="/images/logo_header.png" alt="GranitForever 2021"></a>
            <nav>
                <a class="active" href="/">Головна</a>
                <div class="dropdown">
                    <a id="catalog-link" href="/catalog">Каталог</a>
                    <div class="dropdown-content">
                        <a href="#">Одинарні</a>
                        <a href="#">Подвійні</a>
                        <a href="#">Потрійні</a>
                        <a href="#">Дитячі</a>
                        <a href="#">Інші</a>
                    </div>
                </div>
                <a href="/contacts">Контакти</a>
                <a href="/information">Інформація</a>
            </nav>

            <div class="navbar-adaptive">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="modal-nav" id="modalNav">
                <a href="" class="close-btn"> X </a>
                <div class="modal-content">
                    <a class="active" href="/">Головна</a>
                    <div class="dropdown">
                        <a id="catalog-link" href="/catalog">Каталог</a>
                        <div class="dropdown-content">
                            <a href="#">Одинарні</a>
                            <a href="#">Подвійні</a>
                            <a href="#">Потрійні</a>
                            <a href="#">Дитячі</a>
                            <a href="#">Інші вироби</a>
                        </div>
                    </div>
                    <a href="/contacts">Контакти</a>
                    <a href="/information">Інформація</a>
                </div>
                <div class="contact_info">
                    <p>+38(067)-591-70-30</p>
                    <p>+38(063)-467-16-18</p>
                    <div class="socials">
                        <a href="https://wa.me/0675917030"><img src="/images/socials/whatsup_bl.png" alt="whatsup"></a>
                        <a href="https://www.instagram.com/granitforever2021?igsh=em84cG5wZTB6YnFq"><img src="/images/socials/inst_bl.png" alt="instagram"></a>
                        <a href=""><img src="/images/socials/tel_bl.png" alt=""></a>
                        <a href="viber://chat?number=%2B0634671618"><img src="/images/socials/vib_bl.png" alt="viber"></a>
                    </div>
                </div>
            </div>

            <div class="contact_info">
                <p>+38(067)-591-70-30</p>
                <p>+38(063)-467-16-18</p>
                <div class="socials">
                    <a href="https://wa.me/0675917030"><img src="/images/socials/whatsup_bl.png" alt="whatsup"></a>
                    <a href="https://www.instagram.com/granitforever2021?igsh=em84cG5wZTB6YnFq"><img src="/images/socials/inst_bl.png" alt="instagram"></a>
                    <img src="/images/socials/tel_bl.png" alt="telegram">
                    <a href="viber://chat?number=%2B0634671618"><img src="/images/socials/vib_bl.png" alt="viber"></a>
                </div>
            </div>
        </header>
        <!--  -->
        <!--  -->
        
        <main>
