<%- include("components/header.ejs") %>
        <div class="contactos">
            <h2>Зворотній зв'язок</h2>
            <div class="start-grid">
                <div class="grid-items box1">
                    <h3>Адреса</h3>
                    <p>80100, Шептицький(Червоноград), Україна
                        вул. Червоноградська 132</p>
                </div>
                <div class="grid-items box2">
                    <h3>Телефон</h3>
                    <p>+38(067)-591-70-30<br>
                        +38(063)-467-16-18<br>
                        example@gmail.com</p>
                </div>
                <div class="grid-items box3">
                    <h3>графік роботи</h3>
                    <p>ПН-ПТ: 09 - 19</p>
                    <p>СБ: 10 - 18</p>
                    <p>НД: Вихідний </p>
                </div>
            </div>
        </div>

        <div class="location">
            <h2>Де знаходимось</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6115.5027436147!2d24.1985155!3d50.3288657!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4724d86a2cee335d%3A0x3d685f8e333b03e4!2z0JzQtdC20LjRgNGW0YfRh9GPLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDgwMDg0!5e1!3m2!1suk!2sua!4v1730447216926!5m2!1suk!2sua" style="border:0;" allowfullscreen="1" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
<%- include("components/footer.ejs") %>