<%- include("components/header.ejs") %>
        <div class="about">
            <div class="text">
                <h1>Про нас</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a class="details" href="">Детальніше</a>
            </div>
        </div>

        <div class="categories">
            <h2>Категорії виробів</h2>
            <div class="menu">
                <div class="item">
                    <img src="/images/examp.png" alt="">
                    <p>Одинарні пам'ятники</p>
                </div>
                <div class="item">
                    <img src="/images/examp.png" alt="">
                    <p>Подвійні пам'ятники</p>
                </div>
                <div class="item">
                    <img src="/images/examp.png" alt="">
                    <p>Потрійні пам'ятники</p>
                </div>
                <div class="item">
                    <img src="/images/examp.png" alt="">
                    <p>Дитячі пам'ятники</p>
                </div>
                <div class="item">
                    <img src="/images/examp.png" alt="">
                    <p>Інші вироби</p>
                </div>
            </div>
        </div>

        <div class="service">
            <h2>Наші послуги</h2>
        </div>
<%- include("components/footer.ejs") %>