<%- include("components/header.ejs") %>
        <div class="about">
            <div class="text">
                <h1>Про нас</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a class="details" href="">Детальніше</a>
            </div>
        </div>

        <div class="categories">
            <h2>Категорії виробів</h2>
            <div class="menu">
                <div class="item" onclick="filterCatalog('uno')">
                    <img src="/images/main_images/uno.png" alt="">
                    <p>Одинарні пам'ятники</p>
                </div>
                <div class="item" onclick="filterCatalog('double')">
                    <img src="/images/main_images/double.png" alt="">
                    <p>Подвійні пам'ятники</p>
                </div>
                <div class="item" onclick="filterCatalog('triple')">
                    <img src="/images/main_images/triple.png" alt="">
                    <p>Потрійні пам'ятники</p>
                </div>
                <div class="item" onclick="filterCatalog('child')">
                    <img src="/images/main_images/child.png" alt="">
                    <p>Дитячі пам'ятники</p>
                </div>
                <div class="item" onclick="filterCatalog('others')">
                    <img src="/images/main_images/other.png" alt="">
                    <p>Інші вироби</p>
                </div>
            </div>
            
        </div>

        <div class="service">
            <h2>Наші послуги</h2>
            <div class="elements-menu">
                <div class="ryadok1">
                    <div class="element">
                        <img src="/images/main_images/restoration.png" alt="">
                        <p>Реставрація<br> пам'ятників</p>
                    </div>
                    <div class="element">
                        <img src="/images/main_images/install.png" alt="">
                        <p>Встановлення<br> пам'ятників</p>
                    </div>
                </div>
                <div class="ryadok2">   
                    <div class="element">
                        <img src="/images/main_images/delivery.png" alt="">
                        <p>Доставка<br> поштою</p>
                    </div>
                    <div class="element">
                        <img src="/images/main_images/individual.png" alt="">
                        <p>Індивідуальне<br> замовлення</p>
                    </div>
                </div> 
            </div>
        </div>

        <!-- Advantages -->
        <div class="advantages">
            <h2>Наші переваги</h2>
            <div class="advantages-menu">
                <div class="elementy">
                    <div class="image">
                        <img src="/images/main_images/adv1.png" alt="">
                    </div>
                    <p>Гарантія <br>5 років</p>
                </div>
                <div class="elementy">
                    <div class="image">
                        <img src="/images/main_images/adv2.png" alt="">
                    </div>
                    <p>Доставка по<br>всій україні</p>
                </div>
                <div class="elementy">
                    <div class="image">
                        <img src="/images/main_images/adv3.png" alt="">
                    </div>
                    <p>Професійні <br>майстри</p>
                </div>
            </div>
        </div>

    <script>
        function filterCatalog(filterValue) {
            // Redirect to the catalog page with the filter parameter
            window.location.href = `/catalog?filter=${filterValue}`;
        }

    </script>
<%- include("components/footer.ejs") %>