<%- include("components/header.ejs") %>
        <div class="information">
            <h2>Відповіді на запитання</h2>
            <div class="question">
                <h3>Скільки років триває гарантія ?</h3>
                <div class="que_text">
                    <p>Термін гарантії: 10 років </p>
                </div>
            </div>
            <div class="question" id="process">
                <h3>Як відбувається доставка та монтаж виробів, і чи є додаткові витрати на ці послуги ?</h3>
                <div class="que_text">
                    <p>Доставка може здійснюватися через Нову пошту для зручності отримання, або індивідуальним способом із можливістю додаткового встановлення, що забезпечує повну підтримку клієнта від отримання виробу до його повної готовності.</p>
                </div>
            </div>
            <div class="question">
                <h3>Як довго триває виготовлення виробу з граніту та чи є можливість прискорити процес ?</h3>
                <div class="que_text">
                    <p>Виготовлення займає до 30 робочих днів, але за бажанням клієнта термін може бути скорочений до 10 днів за додаткову плату +10% до вартості.</p>
                </div>
            </div>
        </div>
<%- include("components/footer.ejs") %>