<%- include("components/header.ejs") %>
        <div class="information">
            <h2>Відповіді на запитання</h2>
            <div class="question">
                <h3>Доставка</h3>
                <div class="que_text">
                    <p>термін доставки:  ## днів</p>
                    <p>оплата:   банківською карткою або при отриманні у відділенні</p>
                    <p>відправлення: ###</p>
                </div>
            </div>
            <div class="question">
                <h3>запитання 2</h3>
                <div class="que_text">
                    <p>елемент1</p>
                    <p>елемент2</p>
                    <p>елемент3</p>
                </div>
            </div>
            <div class="question">
                <h3>запитання 3</h3>
                <div class="que_text">
                    <p>елемент1</p>
                    <p>елемент2</p>
                    <p>елемент3</p>
                </div>
            </div>
        </div>
<%- include("components/footer.ejs") %>