
:root{
    --socialsWidth: 41px;
    --socialsSmall: 26px;

    --fontSizeModal: 16px;
    --fontSizeNav: 24px;
    --fontSizeNav1000: 20px;
    --fontSizeNav800: 14px;
    --fontSizeNav650: 12px;
    --headerColor: #000000;

    --headersSections: 35px;

    --aboutSize: 28px;
    --H1Size620: 24px;
    --paragraphSize: 16px;
    --buttonSize620: 22px;

    --elementFontSize: 26px;

    --footerSmall: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Prevents padding and borders from adding to width */
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* Positioning for the body background */
body::before {
    content: "";
    position: fixed; /* Fixed positioning ensures it stays anchored to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full viewport width */
    height: 100%; /* Full viewport height */
    background: url('/images/body_XL.jpg');
    /* background: url('/images/tested/body_bg.jpg'); */
    /* background-position: center / cover; */
    background-size: cover;
    background-attachment: scroll;
    z-index: -1; /* Places the background behind content */
}

.navbar-adaptive{
    display: none;
    gap: 10px;
    flex-direction: column;
}

.navbar-adaptive > *{
    width: 45px;
    height: 7px;
    background-color: #000000;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    width: 100%; /* Ensures header takes full width */
    font-size: var(--fontSizeNav);
    text-transform: uppercase;
}

.logo{
    width: 200px;
    height: auto;
}

nav{
    display: flex;
    gap: 30px;
    
}

nav a {
    color: var(--headerColor);
    text-decoration: none;
}

.contact_info{
    color: var(--headerColor);
    text-decoration: none;
}

.contact_info > *{
    padding: 5px;
}

.socials img{
    width: var(--socialsWidth);
}

.active{
    border-bottom: #000000 solid 5px;
}

@media (max-width: 1190px) {
    .contact_info{
        display: none;
    }
}

@media (max-width: 1050px) {
    nav{
        font-size: var(--fontSizeNav1000);
    }
    
    .logo{
        width: 140px;
    }

}

@media (max-width: 800px) {
    nav{
        display: none;
    }

    .navbar-adaptive{
        display: flex;
    }
    
}

.modal-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 135deg, #947e5d 10%, #934346 100%);
    background-blend-mode: screen;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.modal-content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: var(--fontSizeNav);

}

.close-btn {
    position: absolute;
    top: 70px;
    right: 17%;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

@media (max-width: 800px) {
    .modal-content a{
        font-size: var(--fontSizeModal);
    }
}

/* MAIN */

.about {
    width: 100vw; /* Ensures the .about section takes full viewport width */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--aboutSize);
    overflow-x: hidden; /* Prevents overflow from inside .about */
    text-align: center;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Aligns background with viewport width */
    height: 100%;
    background: url('/images/main_images/main_page.jpg'); 
    filter: blur(1px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
}

.text{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 30px;
    font-weight: 400 !important;

    padding: 3rem;
    margin: 70px 70px;
    color: white;

    background-color: rgb(0, 0, 0, 0.59);
}

.text p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text a{
    display: inline;
    text-decoration: none;
    background: rgba(203, 203, 203, 0.35);
    border: 3px solid #FFFFFF;
    border-radius: 38px;
    color: white;

    margin: 0 auto;
    padding: 1.5rem;

}

@media (max-width: 620px) {
    .text h1{
        font-size: var(--H1Size620);
    }

    .text p{
        font-size: var(--paragraphSize);
    }

    .text a{
        padding: 1rem;
    }
}



/* dropdown */
/*  */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Positioning below the "Каталог" */
    left: 0;
    background-color: rgb(0, 0, 0, 0.59);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Smooth show/hide */
    opacity: 0;
}

.dropdown-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(255, 197, 71);
}

/* Show dropdown content on hover for larger screens */
@media (min-width: 800px) {
    .dropdown:hover .dropdown-content {
        display: flex;
        opacity: 1;
    }
}

/* Show dropdown on click for smaller screens */
@media (max-width: 799px) {
    .dropdown > a::after {
        content: " ▼"; /* Indicator for dropdown */
    }

    /* Adjust dropdown content display */
    .dropdown-content {
        position: static; /* Inline with the menu */
        display: none;
        opacity: 1;
    }

    /* Toggle dropdown on click using the :focus-within pseudo-class */
    .dropdown:focus-within .dropdown-content {
        display: flex;
    }
}

/* Categories and others */

.categories{
    padding: 150px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categories h2, .service h2, .advantages h2{
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;

    font-size: var(--headersSections);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 266.61px;
    height: 300.9px;


    background: rgba(217, 217, 217, 0.45);
    box-shadow: 6px 6px 17.5px rgba(0, 0, 0, 0.83);
    border-radius: 50px;

}

.item img{
    width: 120px;
    height: 130px;
}

.item p, .element p, .elementy p{
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}

/* Послуги */
.service, .advantages{
    padding: 0 0 150px 0;
}

.elements-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 90px;

    background: rgba(217, 217, 217, 0.45);
    box-shadow: 6px 6px 17.5px rgba(0, 0, 0, 0.83);
    
    margin: 0 2rem;
    padding: 3rem 0;

}

.ryadok1, .ryadok2{
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

@media (max-width: 556px){
    .ryadok1, .ryadok2{
        flex-direction: column;
    }
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--elementFontSize);
    text-align: center;
    flex-direction: column;
}

.element img{
    width: 170px;
    height: 130px;
}

/* Advantages */

.advantages{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    flex-direction: column;
}

.advantages-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 90px;

    background: rgba(217, 217, 217, 0.45);
    box-shadow: 6px 6px 17.5px rgba(0, 0, 0, 0.83);
    border-radius: 25px;
    padding: 2rem 3rem;
    margin: 0 1.5rem;
}

.elementy{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    font-size: var(--elementFontSize);
    text-align: center;
}

.image{
    width: 150px;
    height: 140px;
    position: relative;
}

.image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
/*  */

footer{
    /* footer */
    background: rgba(0, 0, 0, 0.75);
    padding: 2rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    
}

footer > *{
    padding: 0 15px;
}

@media (max-width: 656px) {     
    footer > *{
        margin: 0 auto 40px auto;
    }

    footer a{
        margin: 0 auto 0 auto !important;
    }

    .footer_info{
        text-align: center;
    }
}

@media (max-width: 922px) { 
    footer{
        flex-direction: column-reverse;
    }

    .footer_info{
        text-align: center;
    }
    
    footer > *{
        margin: 0 auto 40px auto;
    }

    .logo{
        width: 170px;
    }
}


.contact_info_footer{
    color: white;
    font-size: var(--fontSizeNav);
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

@media (max-width: 1050px){
    .contact_info_footer{
        gap: 10px;
    }
}

.footer_info{
    color: white;
    font-size: var(--fontSizeNav);
    display: flex;
    flex-direction: column;
}

.copyright{
    background: rgba(0, 0, 0, 0.75);
    color: rgb(182, 182, 182);
    text-align: center;
    padding: 2rem 3rem;
}

@media (max-width: 490px){
    .logo{
        width: 110px;
    }

    .contact_info_footer, .footer_info{
        font-size: var(--footerSmall);
    }

    .socials img{
        width: var(--socialsSmall);
    }

    .modal-nav .contact_info img{
        width: var(--socialsWidth);
    }
}
